#form{
     width: 400px;
     height:500px;
     position:absolute;
     left:65%;
     top:55%;
     transform: translate(-50%,-50%);
     text-align:left;
     border-style:solid;
     border-color: transparent;
     border-width: 3px;
}


#country{
     width: 250px;
     left:100%;
}
